<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="2.2.0" targetFramework="net461" />
  <package id="LibVLCSharp" version="3.4.2" targetFramework="net451" />
  <package id="LibVLCSharp.WPF" version="3.4.2" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net451" requireReinstallation="true" />
  <package id="taglib" version="2.1.0.0" targetFramework="net451" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.8.1" targetFramework="net451" />
  <package id="z440.atl.core" version="2.16.0" targetFramework="net451" />
</packages>